APScheduler==3.9.1
asgiref==3.5.0
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
DateTime==4.4
Django==4.0.4
django-apscheduler==0.6.2
django-filter==21.1
filelock==3.6.0
huggingface-hub==0.5.1
idna==3.3
joblib==1.1.0
lxml==4.8.0
mysqlclient==2.1.0
numpy==1.22.3
packaging==21.3
PyMySQL==1.0.2
pyparsing==3.0.8
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.3.15
requests==2.27.1
sacremoses==0.0.49
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tokenizers==0.12.1
torch==1.11.0
tqdm==4.64.0
transformers==4.18.0
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
zope.interface==5.4.0
